Flask==2.3.2
Flask-RESTful==0.3.8
lmdb==1.2.1
networkx==2.5.1
pandas==1.2.4
protobuf==3.15.6
pycparser==2.19
pycparserext==2020.1
torch==1.8.0
torch-geometric==1.7.0
torch-scatter==2.0.6
torch-sparse==0.6.9